{{ define "title" }}index{{ end }}

{{ define "content" }}

    <div class="container">
        <div class="row justify-content-center">
            <div class="card border-success text-center mb-3 mx-auto">
                <div class="card-body px-4">
                    <h5 class="card-title">Updated settings</h5>
                    <p class="card-text">Configurations are stored in "api_key.conf"</p>
                    <a href="/" class="btn btn-primary">Return to top page</a>
                </div>
            </div>
        </div>
    </div>

{{ end }}
