{{ define "title" }}index{{ end }}

{{ define "content" }}

    <script>
        function showClock() {
        let nowTime = new Date();
        let nowHour = nowTime.getHours();
        let nowMin  = nowTime.getMinutes();
        let nowSec  = nowTime.getSeconds();

        // 0埋め
        if (nowHour < 10) {
            nowHour = "0" + nowHour;
        }
        if (nowMin < 10) {
            nowMin = "0" + nowMin;
        }

        let msg = nowHour + ":" + nowMin;
        document.getElementById("realtime").innerHTML = msg;
        }
        setInterval('showClock()',1000);
    </script>

    <div class="text-center text-info fw-bold fs-1 my-1">
        <p id="realtime" style="font-size: 2em;"></p>
    </div>

    <hr>

    <table class="table table-striped fs-3">
        <thead>
          <tr>
            <th scope="col">路線名</th>
            <th scope="col">現在停留所</th>
            <th scope="col">次の停留所</th>
            <th scope="col">到着時刻</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {{ range .Entity }}
          {{ if .Vehicle }}
          <tr>
            <td>{{ .Vehicle.RouteID }}</td>
            <td>{{ .Vehicle.CurrentStopSequence }}</td>
            <td>{{ .Vehicle.NextStopID }}</td>
            <td>{{ .Vehicle.NextStopTime }}</td>
          </tr>
          {{ end }}
          {{ end }}
        </tbody>
      </table>

{{ end }}
