{{ define "title" }}index{{ end }}

{{ define "content" }}

    <body  style="overflow-y: auto;">

    <div class="container d-flex text-center">
        <div class="row w-100">
            <div class="col-6 fw-bold fs-1">
                <p style="font-size: 1.6em;">サイネージ(仮)</p>
            </div>

            <div class="col-6 text-center text-info fw-bold fs-1">
                <p id="realtime" style="font-size: 1.6em;"></p>
            </div>
        </div>
    </div>
        
    <table class="table table-striped fs-1 text-center" id="timetable">
        <thead>
            <tr>
                <th scope="col" style="width: 20%">出発時刻</th>
                <th scope="col" style="width: 50%">路線名</th>
                <th scope="col" style="width: 30%">行先</th>
            </tr>
        </thead>
        <tbody class="table-group-divider" id="timetable-body">


        </tbody>
    </table>


    <script>
        const timetableBody = document.getElementById('timetable-body');
        const ws = new WebSocket('ws://localhost:8888/ws');

        function renderTimetable(data) {
            timetableBody.innerHTML = '';

            data.forEach((item, index) => {
                const row = timetableBody.insertRow();
                // const remarkCell = row.insertCell();
                const departureTimeCell = row.insertCell();
                const routeIDCell = row.insertCell();
                // const delayCell = row.insertCell();
                const destinationCell = row.insertCell();

                // remarkCell.textContent = item.Remark;
                departureTimeCell.textContent = item.departure_time;
                routeIDCell.textContent = item.route_id;
                destinationCell.textContent = item.destination;

                // 遅延情報と出発時刻を交互に表示
                if (item.delay && item.delay.trim() !== '') {
                    let showingDeparture = true;
                    departureTimeCell.textContent = item.departure_time;

                    setInterval(() => {
                        departureTimeCell.textContent = showingDeparture ? item.delay : item.departure_time;
                        showingDeparture = !showingDeparture;
                    }, 3000);
                } else {
                    departureTimeCell.textContent = item.departure_time;
                }
            });
        }

      

        ws.onmessage = (event) => {
            console.log('Received raw data:', event.data); // 受信した生データを出力
            try {
                const timetableData = JSON.parse(event.data);
                console.log('Parsed data:', timetableData); // パース後のデータを出力
                renderTimetable(timetableData);
                console.log('First item:', timetableData[0]);
            } catch (error) {
                console.error('Error parsing JSON:', error);
            }
        };

        ws.onopen = () => {
            console.log('WebSocket connection opened');
        };

        ws.onclose = () => {
            console.log('WebSocket connection closed');
        };

        ws.onerror = (error) => {
            console.error('WebSocket error:', error);
        };

        function showClock() {
            let nowTime = new Date();
            let nowHour = nowTime.getHours();
            let nowMin  = nowTime.getMinutes();
            let nowSec  = nowTime.getSeconds();

            // 0埋め
            if (nowHour < 10) {
                nowHour = "0" + nowHour;
            }
            if (nowMin < 10) {
                nowMin = "0" + nowMin;
            }

            let msg = nowHour + ":" + nowMin;
            document.getElementById("realtime").innerHTML = msg;
            }
            setInterval('showClock()',1000);
    </script>
</body>

    
    
{{ end }}
